* {
    padding: 0;
  }
  .nav {
    background-color: white;
    background-image: url(images/nav_back3.jpg);
    background-position: center;
    background-size: cover;
    z-index: 9;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 15);
  }
  .nav_top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  .logo {
    float: left;
    width: 60%;
  }
  .logo img {
    padding: 10px;
  }
  .nav_side {
    background-color: grey;
    float: right;
    width: 34%;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 40px;
  }
  .nav_side a {
    text-decoration: none;
    margin-right: 20px;
    padding-top: 20px;
    color: black;
    font-weight: bold;
    font-family: cosmic, sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  .nav_side a:hover {
    color: orange;
    text-decoration: underline;
    transition: all 1s ease;
  }
  .main {
    background-image: url(images/finalback.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
    padding: 10px;
  }
  .main .main_content {
    padding-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
  .main .main_content h2 {
    color: gold;
    font-size: 40px;
    font-family: cosmic, sans-serif;
    font-weight: bolder;
    text-align: center;
    line-height: 20px;
    text-decoration: underline;
  }
  .main .main_content h2 span {
    font-size: 20px;
    opacity: 0.8;
    color: blanchedalmond;
    font-weight: 400;
    line-height: 20px;
    text-decoration: underline;
  }
  
  .main .main_content .btn {
    margin-top: 50px;
  }
  .main .main_content .btn a {
    margin: 50px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #4a148c;
    color: white;
    font-family: cosmic, sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
  }
  .main .main_content .btn a:hover {
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
  }
  .product h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 20px;
  }
  
  .product .product_container {
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
  }
  
  .product .product_container .item {
    width: 33.33%;
    margin: 10px;
    height: auto;
  }
  .product .product_container .item .item_img {
    width: 80%;
    height: 250px;
    overflow: hidden;
  }
  
  .product .product_container .item .item_img img {
    width: 100%;
    height: 250px;
  }
  
  .product .product_container .item .item_content {
    text-align: center;
  }
  
  .product .product_container .item .item_content h3 {
    padding: 10px;
    font-size: 25px;
    font-family: cosmic, sans-serif;
  }
  
  .product .product_container .item .item_content p {
    padding: 10px;
    font-size: 15px;
    font-family: cosmic, sans-serif;
  }
  .product .product_container .item .item_content a {
    margin: 50px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #4a148c;
    color: white;
    font-family: cosmic, sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
  }
  .product .product_container .item .item_content a:hover {
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
  }
  .product h2 {
    color: palevioletred;
    text-decoration: underline;
    background-color: royalblue;
  }
  
  .product .product_btn {
    text-align: center;
    margin-top: 50px;
  }
  
  .product .product_btn a {
    margin: 50px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #4a148c;
    color: white;
    font-family: cosmic, sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
  }
  
  .product .product_btn a:hover {
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
  }

 
  .keypoint {
    padding: 50px;
  }
  .keypoint h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
  }
  .keypoint .key_container {
    display: flex;
  }
  
  .keypoint .key_container .key_content {
    width: 40%;
    padding: 20px;
    float: left;
  }
  
  .keypoint .key_container .key_content li {
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-left: 2px solid orange;
    font-family: cosmic, sans-serif;
    box-shadow: 0px 3px 65px 0px rgba(0, 0, 0, 0.15);
    color: black;
    text-align: left;
  }
  
  .keypoint .key_container .key_img {
    width: 30%;
  
    float: right;
    margin-left: 100px;
  }
  
  .keypoint .key_container .key_img img {
    width: 100%;
  }
  
  .testi {
    padding: 50px;
  }
  
  .testi h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
  }
  
  .testi .testi_container {
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
  }
  
  .testi .testi_container .carousel-inner {
    background-color: white;
    box-shadow: none;
  }
  
  .testi .testi_container .item {
    width: 100%;
    padding: 20px;
    background-color: white;
  }
  
  .testi .testi_container .item .item_img {
    width: 100%;
    height: 100px;
    text-align: center;
    overflow: hidden;
  }
  .testi .testi_container .item .item_img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .testi .testi_container .item .item_content {
    text-align: center;
  }
  .testi .testi_container .item .item_content h3 {
    padding: 10px;
    font-size: 25px;
    font-family: cosmic, sans-serif;
  }
  
  .testi .testi_container .item .item_content p {
    padding: 10px;
    font-size: 15px;
    font-family: cosmic, sans-serif;
  }
  
  .team {
    padding: 50px;
  }
  .team h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
  }
  .team .team_container {
    display: flex;
  }
  .team .team_container .team_video {
    width: 50%;
    padding: 20px;
    padding-top: 5px;
  }
  .team .team_container .team_video video {
    width: 100%;
    border: 10px solid brown;
  }
  .team .team_container .team_content {
    width: 40%;
    padding: 20px;
    margin-left: 50px;
  }
  .team .team_container .team_content p {
    padding: 20px;
    font-size: 15px;
    font-family: cosmic, sans-serif;
  }
  .feed {
    padding: 70px;
    background-image: url("images/formbk2.jpg");
    background-size: cover;
  }
  .feed h2 {
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
  }
  .feed .feed_form {
    text-align: center;
  }
  .feed .feed_form form {
    padding: 20px;
  }
  .feed .feed_form form input {
    width: 30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
  }
  
  .feed .feed_form form textarea {
    width: 30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
    text-decoration: underline;
    color: purple;
  }
  .feed .feed_form form button {
    width: 30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 5px;
  }
  
  .feed .feed_form form button:hover {
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
  }
  
  .about_us {
    padding: 120px;
  }
  .about_us h2 {
    color: orange;
    text-decoration: underline;
    font-size: 35px;
    text-align: center;
    padding: 30px;
    font-family: cosmic, sans-serif;
    text-transform: uppercase;
  }
  
  .about_us p {
    padding: 10px;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    line-height: 30px;
  }
  
  .contact_container {
    padding: 100px;
  }
  .contact_container h2 {
    color: orange;
    font-size: 35px;
  
    text-align: center;
    padding: 10px;
    font-family: cosmic, sans-serif;
    text-transform: uppercase;
  }
  
  .contact_container .g_map {
    border: 10px solid purple;
  }
  
  .contact_container  .contact_content {
    padding: 20px;
  }
  .contact_container  .contact_content p {
    color: orange;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-family: cosmic, sans-serif;
    text-transform: uppercase;
  }
  
  footer {
    background-color: darkgrey;
    padding: 50px;
  }
  footer .pages {
    text-align: center;
  }
  footer .pages h3 {
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
  }
  footer .pages a {
    text-decoration: none;
    margin: 10px;
    color: purple;
    font-size: 15px;
    font-family: cosmic, sans-serif;
  }
  footer .pages a:hover {
    color: white;
  }
  
  footer .doc {
    text-align: center;
  }
  footer .doc h3 {
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
  }
  footer .doc a {
    text-decoration: none;
    margin: 10px;
    color: purple;
    font-size: 15px;
    font-family: cosmic, sans-serif;
  }
  footer .doc a:hover {
    color: white;
  }
  
  footer .social {
    text-align: center;
  }
  footer .social h3 {
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
  }
  footer .social a {
    text-decoration: none;
    font-size: 30px;
    color: purple;
    margin: 10px;
  }
  
  footer .social a:hover {
    color: white;
  }
  footer .contact {
    text-align: center;
  }
  
  footer .contact h3 {
    color: black;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
  }
  
  footer .contact a {
    text-decoration: none;
    font-size: 30px;
    color: purple;
    margin: 10px;
  }
  
  footer .contact a:hover {
    color: white;
  }
  footer p {
    text-align: center;
  }
  /*Mobile view */
  @media screen and (max-width: 375px){
    form{
      width:100%;
      margin: 5% 5%;
    }
    .container{
      display: grid;
    }
    .container .card{
      width:100%;
    }
  }






    /* for services page */
  
  .services-section{
    background: url(images/bg.jpg);
    background-size: cover;
    padding: 60px 0;
  }
  .inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
  }
  .section-title{
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 7%;
  }
  .border{
    width: 160px;
    height: 2px;
    background: #82ccdd;
    margin: 40px auto;
  }
  .services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .service-box{
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
  }
  
  .service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #82ccdd;
    color: #82ccdd;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
  }
  .service-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
  }
  .service-box:hover .service-icon{
    background: #82ccdd;
    color: #ddd;
  }
  .service-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .service-desc{
    font-size: 14px;
  }
  
  @media screen and (max-width:960px) {
    .service-box{
      max-width: 45%;
    }
  }
  
  @media screen and (max-width:768px) {
    .service-box{
      max-width: 50%;
    }
  }
  
  @media screen and (max-width:480px) {
    .service-box{
      max-width: 100%;
    }
  }
  








  /*For Blog page */

  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  
  
  .header {
    padding: 30px;
    padding-top: 5%;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  .header h2{
    text-decoration: #4a148c;
  }
  
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
 
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
 
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
 
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  .card h2{
    color: orange;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    font-family: cosmic, sans-serif;
    text-transform: uppercase;


  }
  .card h5{
    color: orange;
    font-size: 20px;
    padding: 10px;
    font-family: cosmic, sans-serif;


  }
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }